html
  head
    title Admin
  body
    ul
      each val in data
        - const link = `https://myanimelist.net/anime/${val.malID}/`
        li #{`${val.aniTitle} -> `} 
          a(href=link target="_blank") #{val.malTitle}
          form(method='POST' action='/match/commit')
            input(type='hidden' name='aniTitle' value=val.aniTitle)
            input(type='hidden' name='malID' value=val.malID)
            button.btn.btn-primary(type='submit') commit
          form(method='POST' action='/match/delete')
            input(type='hidden' name='aniTitle' value=val.aniTitle)
            input(type='hidden' name='malID' value=val.malID)
            button.btn.btn-primary(type='submit') delete